
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


h1{
margin-left: 50px;
color: white;
}

h2{
margin-left: 50px;
color:white;
}
body{
background-color: #222222;
}

form{
color: grey;
margin-left : 50px;}

p{
  color: white;
  border:10px blue;
}
