Welcome to FlickrTwit
  Whats trending right now on FlickrTwit!<form id="FlickrTwitNewsearch" method="get" action="*** reference twitter  / flickr">
            <input type="text" class="hashtagInput" name="*** " value="easter" size="21" maxlength="120">
            <input type="submit" value="search" class="FlickrTwitButton">
</form>
{{#each images}}
  <a href="/">{{this}}</a>
{{/each}}
