Welcome to FlickrTwit
  Whats trending right now on FlickrTwit!
  <form id="FlickrTwitNewsearch" method="post" action="/">
            <input type="text" class="hashtagInput" name='tag' value="easter" size="21" maxlength="120">
            <input type="submit" value="search" class="FlickrTwitButton">
</form>
{{#each objs}}
<div class="col-md-4 form-group catContainer">

    <a href='/photos/{{this.id}}'><img src={{this.image}} class='img img-responsive'></a>

    {{#each this.tweets}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/each }}
