<link rel="stylesheet" type="text/css" href="/index.css">
{{#each objs}}
<div class="col-md-4 col-md-offset-2 form-group ">

    <img src={{this.image}} class='img img-responsive'>

    {{#each this.tweets}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/each }}
