<link rel="stylesheet" type="text/css" href="/index.css">
{{#each objs}}

<div>
=======
<div class="col-md-4 col-md-offset-2 form-group ">
>>>>>>> ee0f9a3dd9d4ed7cfdb6ae9c80e61ca1ab63213b

    <img src={{this.image}} class='img img-responsive'>

    {{#each this.tweets}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/each }}
